In [1]:
import pandas as pd 
from sklearn import tree

In [2]:
df=pd.read_csv("transport.csv")

# Visualization

In [3]:
df

  gender   car travel_cost  income  transport
0    male    0        cheap     low       bus
1    male    1        cheap  medium       bus
2  female    1        cheap  medium     train
3  female    0        cheap     low       bus
4    male    1        cheap  medium       bus
5    male    0     standard  medium     train
6  female    1     standard  medium     train
7  female    1    expensive    high       car
8    male    2    expensive  medium       car
9  female    2    expensive    high       car

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   gender        10 non-null     object
 1   car           10 non-null     int64
 2   travel_cost   10 non-null     object
 3   income        10 non-null     object
 4   transport     10 non-null     object
dtypes: int64(1), object(4)
memory usage: 528.0+ bytes

In [5]:
df.isnull().any()

gender          False
car             False
travel_cost     False
income          False
transport       False
dtype: bool

In [6]:
x=df.iloc[:,:-1]

In [7]:
x

  gender   car travel_cost  income
0    male    0        cheap     low
1    male    1        cheap  medium
2  female    1        cheap  medium
3  female    0        cheap     low
4    male    1        cheap  medium
5    male    0     standard  medium
6  female    1     standard  medium
7  female    1    expensive    high
8    male    2    expensive  medium
9  female    2    expensive    high

In [8]:
y=df.iloc[:,4]

In [9]:
y

0      bus
1      bus
2    train
3      bus
4      bus
5    train
6    train
7      car
8      car
9      car
Name: transport, dtype: object

# Preprocessing

In [10]:
from sklearn.preprocessing import LabelEncoder

In [11]:
le=LabelEncoder()

In [12]:
x=x.apply(LabelEncoder().fit_transform)

In [13]:
x

   gender   car  travel_cost   income
0        1    0             0        1
1        1    1             0        2
2        0    1             0        2
3        0    0             0        1
4        1    1             0        2
5        1    0             2        2
6        0    1             2        2
7        0    1             1        0
8        1    2             1        2
9        0    2             1        0

 # Decision Tree

In [14]:
from sklearn.tree import DecisionTreeClassifier
import numpy as np

In [15]:
dtf=DecisionTreeClassifier()  #dtf=DecisionTreeClassify_

In [16]:
dtf.fit(x.iloc[:,0:4],y)

DecisionTreeClassifier()

In [20]:
xinput=np.array([1,1,2,0])

In [21]:
y_predict=dtf.predict([xinput])

In [22]:
y_predict

array(['train'], dtype=object)